h1,
p {
  font-family: Lato;
}

.main {
  position: relative;
  height: 100px;
  background-color: green;
  border: 1px solid red;
  transition: all 1s;
}

.hidden {
  left: -100vw;
}

.animate {
  left: 0;
}
